* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

button {
	font: inherit;
}

button {
	font-size: inherit;
	font-family: inherit;
	background-color: inherit;
	border: none;
	color: inherit;
}