.header {
	width: 100vw;
	min-height: 7rem;
	justify-content: flex-start;
	display: flex;
	padding: 0 2rem;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
	background-color: var(--primary-color);
}

.header__navigation {
	position: absolute;
	top: 7rem;
	left: 1.5rem;
	list-style: none;
	display: none;
}

.header__navigation--open {
	display: block;

}

.header__text {
	font-size: 3rem;
	color: var(--primary-text-color);
	text-align: left;
}

.header__button-menu {
	background-color: var(--primary-color);
	color: var(--primary-text-color);
	border-radius: 1rem;
	z-index: 10;
	font-size: 2.5rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border: solid 2px var(--primary-text-color);
	transition: all 0.3s;
}

.header__button-menu:hover {
	background-color: var(--primary-color-darker);
}

@media screen and (max-width: 500px) {
	.header__button-menu {
		font-size: 2rem;
	}

	.header__text {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 400px) {
	.header {
		padding: 0 0.5rem;
	}

	.header__text {
		font-size: 2rem;
	}
}


@media screen and (max-width: 350px) {
	.header__text {
		font-size: 1.5rem;
	}
}